.container {
  width: 1456px;
  height: 56px;
  padding: 0 16px;
  // background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 18px;
}

.end {
  display: flex;

  .icon,
  .user,
  .more,
  .signin {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    width: 40px;
    margin-right: 8px;
  }

  .user {
    height: 32px;
    border-radius: 50%;
  }

  .more {
    padding: 8px;
    margin-right: 8px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  .signin {
    width: 140px;
    height: 40px;
    padding: 5px 11px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    border: 1px solid #065fd4;
    color: #065fd4;
  }
}
